{% extends "base.html" %}

{% block content %}
<div class="navigation">
<a href="/logout">Logout</a>
<br>
<br>
<a href="/blog">Main Blog Page</a>
<br>
<br>
<a href="/newpost">Add a Blog Entry:</a>
</div>

    <h1>Muh blog</h1>

    {% if blog_entries|length == 0 %}
    <p>No entries yet.</p>
    {% else %}

        <ul>
            {% for entry in blog_entries %}
            <li>
                <h2><a href="/blog?id={{ entry.id }}">{{entry.name}}</a></h2>
                <br>
                {{entry.entry}}
            </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}