{% extends "base.html" %}

{% block content %}

    <h1>Muh blog</h1>

    {% if blog_entries|length == 0 %}
    <p>No entries yet.</p>
    {% else %}

        <ul>
            {% for entry in blog_entries %}
            <li>
                <h2><a href="/blog?id={{ entry.id }}">{{entry.name}}</a></h2>
                <br>
                {{entry.entry}}
                <br>
                <p>Written by: <a href="?user={{entry.author}}">{{entry.author}}</a></p>
            </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}