{% extends "base.html" %}

{% block content %}
<h1>index</h1>

<div class="navigation">
    <a href="/blog">Main Blog Page</a>
    <br>
    <br>
    <a href="/newpost">Add a Blog Entry:</a>
    </div>
    
        <h1>View the blog of:</h1>
    
        {% if user_list|length == 0 %}
        <p>No one's posted yet! Be the first.</p>
        {% else %}
    
            <ul>
                {% for user in user_list %}
                <li>
                    <h2><a href="/?id={{ user.id }}">{{user.name}}</a></h2>
                    <br>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock %}