{% extends "base.html" %}

{% block content %}

<div class="navigation">
<a href="/logout">Logout</a>
<br>
<br>
<a href="/blog">Main Blog Page</a>
<br>
<br>
<a href="/newpost">Add a Blog Entry:</a>
</div>

<h2>Create a new blog post!</h2>
<form method="post">
        <label>
            Title:
            <input type="text" name='title' value="{{ title }}" />
        </label>
        <br>
        <label>
            Entry:
            <input type="textarea" name='entry' value="{{ entry }}" />
        </label>
        <input type="submit" value="Add entry!" />
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}
    </form>

{% endblock %}